<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolzApp</title>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/50320cf54b.js" crossorigin="anonymous"></script>
    <!-- MyStile -->
    <link rel="stylesheet" href="css/style.css">
    <!-- No BootStrap because IT SUCKS! -->
</head>
<body>
<div id="root">
    <header id="root-head"></header>
    <!-- main is in absolute position over header, ugly i know -->
    <main id="root-main" class="flex-column">
        <!-- main layout Aside -->
        <aside class="aside flex-column">
            <div class="header flex-row">
                <img class="avatar-pic" :src=" '/img/' + user.img" alt="avatar-01">
                <div class="text">
                        <p>{{user.name}}</p>
                </div>
                <div class="icons">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="notification flex-row">
                <i class="fa-solid fa-bell-slash mute-notify"></i>
                <div class="text">
                    <p>Ricevi Notifiche di Nuovi Messaggi!</p>
                    <a href="">Attiva notifiche desktop</a>
                </div>
            </div>
            <!-- input section -->
            <div class="input flex-row">
                <label for="type"> 
                    <i id="filterBtn" class="fa-solid fa-magnifying-glass" @click="contactFilter"></i>           
                </label>


                <!-- INPUT FILTER CONTACTS -->
                <input id="filterContact" type="text" placeholder=" Cerca o inizia una nuova chat" v-model="input" >
            
            </div>
            <!-- v-model="filterString" @click="contactFilter"-->
            <!-- contact list -->
            <ul class="contact-list">
                <!-- adding data using v-for -->
                <li class="contact flex-row" v-for="(contact, i) in contacts" :key="i" @click="onClick(i)">
                    <img class="avatar-pic" :src="'/img/' + contact.img" alt="photo of contact">
                    <div class="text">
                        <p>{{contact.name}}</p>
                        <p class="smallText">Ultimo messaggio inviato</p>
                    </div>
                    <span class="smallText">{{contact.lastOn}}</span>
                </li>
                
                
            </ul>
        </aside>
        <!-- main layout main section -->
        <section class="main flex-column">
            <div class="header flex-row">
                <img class="avatar-pic" :src="'/img/' + contacts[activeContact].img" alt="Avatar">
                <div class="text">
                        <p>{{contacts[activeContact].name}}</p>
                        <p>Ultimo messaggio alle {{contacts[activeContact].lastOn}}</p>
                </div>
                <div class="icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="content flex-column no-wrap">
                <!-- print all messages in activeContact -->
                <div  v-for="(item, i) in contacts[activeContact].msgHistory" :key="i" class="msg" :class="item.owner == 'me' ? 'msg-user' : '' ">{{contacts[activeContact].msgHistory[i].msg}}</div>
            </div>
            

            <div class="footer flex-row">
                <i class="fa-regular fa-face-smile"></i>

                <!-- INPUT NEW MSG TO CONTACT -->
                <input type="text" placeholder="Scrivi un messaggio" v-model="newMsg" @keyup.enter="sendMsg(activeContact)">
                <i class="fa-solid fa-microphone"></i>
            </div>
        </section>
    </main>




</div>
<!-- CDN Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- script.js -->
<script src="js/script.js"></script>
</body>
</html>